::-webkit-scrollbar {
    width: 10px;
    background: #ffffff00; 
}
::-webkit-scrollbar-thumb {
    border: 1px solid #ffffff00;
    background: #ffffff78;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffffad;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    font-weight: normal;
}
*:focus {
    outline: none;
}
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-120deg,#4267B2 , #30197d, #4267B2 );
    color: #fff;
}
.box_style {
    background: rgba(138, 138, 138, 0.293);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 40px -7px;
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.293);
}
.hero {
    padding: 20px;
}
.nav_container, .nav_bar, .menu {
    width: 100%;
    height: 100px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
.menu ul li{
    display: inline;
    margin-left: 30px;
}
.main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box_main_user, .box_users_info {
    display: flex;
    flex-direction: column;
}
.main_user_perfil, .guets_users_cv {
    height: 400px;
    width: 400px;
    margin-top: 20px;
}
.guest_users_list, .guets_users_perfil {
    height: 580px;
    width: 400px;
    margin-top: 20px;
}
.box_all_users_posts {
    width: 100%;
    height: 1000px;
    margin: 20px;
}
.perfil {
    text-align: center;
}
.perfil button, p {
    margin-top: 5px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
.img_perfil {
    width: 100px;
    margin-top: 80px; 
}
.star {
    margin: 5px 0;
    width: 26px;
}
.guest_list {
    margin: 20px;
}
.guest_list p {
    margin: 20px 0;
    
}
.search_box {
    text-align: center;
    display: flex;
}
.search_box input {
    padding: 10px;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    
}
.search_box img {
    width: 25px; 
}
.search_box button {
    background: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    cursor: pointer;
    width: 60px;
}
.quest_contacts {
    height: 450px;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.guest {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.265);
}
.guest h3 {
    font-size: 22px;
}
.guest_img {
    width: 70px;
    margin-left: 40px;
}
.guest_star {
    width: 20px;
    margin-top: 5px;
}

.box_content {
    width: 100%;
    height: 800px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
    overflow-y: scroll;
    color: #333;
}
.content {
    padding: 40px;
}
.content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.content .guest_img {
    margin-left: -5px;
}
.content_post img {
    margin-bottom: 40px;
}
.content_post img:nth-child(1) {
    width: 500px;
}
.content_post img:nth-child(2) {
    width: 270px;
}
.content_post img:nth-child(3) {
    width: 170px;
}
.content_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-bottom: 1px solid #333;
}

.picture {
    height: 580px;
    border-radius: 25px;
    overflow: hidden;
}
.guest_info {
    padding: 40px;
    margin-top: 20px;
}
.about p {
    opacity: 80%;
}
.cv {
    text-align: center;
    margin-top: 20px;
}
.cv button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 36px;
    padding: 15px;
    cursor: pointer;
}
.midias_sociais {
    text-align: center;
    margin-top: 40px;
}
.midias_sociais img {
    width: 36px;
    border-radius: 25px;
    
}